body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App{
  margin-top: 3rem;
  background-color: #a7efed;
}
.inputBox{
  margin: 0px 0px 18px 0px;
  height: 1.5rem;
  width: 23rem;
}

button{
  background-color: rgb(19, 241, 19);
  border:2px solid;
  border-color: rgb(19, 241, 19) ;
  height: 30px;
  width: 70px;
  border-radius: 20%;
}
